.cards {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    justify-items: center;



}

.cards a {
    text-decoration: none;
}

@media (max-width:1280px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width:960px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width:650px) {
    .cards {
        grid-template-columns: 1fr;

    }
}